.MARAccountDetailForm {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 6px -2px var(--bg-primary);
}
.MARAccountDetail {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-primary);
    color: var(--color-white);
}

.MARAccountDetailHeader {
    display: flex;
    gap: 0.25rem;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;

    & > * {
        width: 50%;
    }
    & > input {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        color: var(--color-text);
        font-family: var(--montserrat-family);
        font-size: 1rem;

        &::placeholder {
            color: var(--color-text);
            opacity: 0.5;
        }

        &:focus,
        &:focus-visible {
            outline: 2px solid var(--bg-white);
        }
    }

    & > select {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        background-color: var(--bg-primary);
        color: var(--color-white);
        font-size: 1rem;

        &:focus,
        &:focus-visible {
            outline: 2px solid var(--bg-white);
        }
    }
}

.MARAccountDetailIncomes,
.MARAccountDetailOutcomes,
.MARAccountDetailDifference {
    display: flex;
    gap: 0.25rem;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;

    & > p,
    input {
        width: 50%;
    }
    & > input {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        color: var(--color-text);
        font-family: var(--montserrat-family);
        font-size: 1rem;

        &::placeholder {
            color: var(--color-text);
            opacity: 0.5;
        }

        &:focus,
        &:focus-visible {
            outline: 2px solid var(--bg-white);
        }
    }
}
