.MARSolidButton,
.MARSolidStretchButton,
.MARSolidSecondaryButton,
.MARSolidSecondaryStretchButton {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    font-family: var(--montserrat-family);
    padding: 0.5em 1em;
    border-radius: var(--border-radius-full);
    border: 1px solid var(--bg-primary);
    font-size: var(--font-size);
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--bg-primary);
    color: var(--bg-primary-text);
    box-shadow: 0px 0px 6px -2px var(--bg-primary);

    &:active {
        background-color: var(--bg-primary-dark);
        color: var(--bg-primary-text);
    }

    &:focus,
    &:focus-visible {
        border: 1px solid var(--bg-primary-text);
        outline: 3px solid var(--bg-primary);
        box-shadow: 0px 0px 6px -2px var(--bg-primary-light);
    }
}

.MARSolidSecondaryButton,
.MARSolidSecondaryStretchButton {
    border: 1px solid var(--bg-secondary);
    background-color: var(--bg-secondary);
    color: var(--bg-secondary-text);

    &:active {
        background-color: var(--bg-secondary-dark);
        color: var(--bg-secondary-text);
    }

    &:focus,
    &:focus-visible {
        border: 1px solid var(--bg-secondary-text);
        outline: 3px solid var(--bg-secondary);
        box-shadow: 0px 0px 6px -2px var(--bg-secondary-light);
    }
}

.AppendIcon,
.PrependIcon {
    width: 1rem;
    height: 1rem;
}

.MAROutlinedButton,
.MAROutlinedButtonStretch,
.MAROutlinedSecondaryButton,
.MAROutlinedSecondaryStretchButton {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    font-family: var(--montserrat-family);
    padding: 0.5em 1em;
    border-radius: var(--border-radius-full);
    border: 1px solid var(--bg-primary);
    font-size: var(--font-size);
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--bg-neutral);
    color: var(--base-text-color);
    outline: 1px solid var(--bg-neutral-text);
    transition: box-shadow 0.25s;

    &:active {
        background-color: var(--bg-primary-dark);
        color: var(--color-white);
    }

    &:focus,
    &:focus-visible {
        border: 1px solid var(--bg-primary-text);
        outline: 3px solid var(--bg-primary-light);
        box-shadow: 0px 0px 6px -2px var(--bg-primary-light);
    }
}

.MAROutlinedSecondaryButton,
.MAROutlinedSecondaryStretchButton {
    border: 1px solid var(--bg-secondary);
    outline: 1px solid var(--bg-secondary);
    color: var(--bg-secondary);

    &:active {
        background-color: var(--bg-secondary-dark);
        color: var(--color-white);
    }

    &:focus,
    &:focus-visible {
        border: 1px solid var(--bg-secondary-text);
        outline: 3px solid var(--bg-secondary-light);
        box-shadow: 0px 0px 6px -2px var(--bg-secondary-light);
    }
}

/* // TODO: terminar de hacer los estilos para los botones secundarios */
.MARSolidStretchButton,
.MAROutlinedButtonStretch,
.MARSolidSecondaryStretchButton,
.MAROutlinedSecondaryStretchButton {
    width: 100%;
}

@media (hover: hover) {
    .MARSolidButton,
    .MARSolidStretchButton,
    .MAROutlinedButton,
    .MAROutlinedButtonStretch {
        &:hover:not(:active) {
            background-color: var(--bg-primary-light);
            color: var(--bg-primary-text);
        }
    }

    .MARSolidSecondaryButton,
    .MARSolidSecondaryStretchButton,
    .MAROutlinedSecondaryButton,
    .MAROutlinedSecondaryStretchButton {
        &:hover:not(:active) {
            background-color: var(--bg-secondary-light);
            color: var(--bg-secondary-text);
        }
    }
}
