.MARSolidButton,
.MARSolidButtonStretch {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    font-family: var(--montserrat-family);
    padding: 0.5em 1em;
    border-radius: var(--border-radius-full);
    border: 1px solid var(--bg-primary);
    font-size: var(--font-size);
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--bg-primary);
    color: var(--bg-primary-text);
    box-shadow: 0px 0px 6px -2px var(--bg-primary);

    &:active {
        background-color: var(--bg-primary-dark);
        color: var(--bg-primary-text);
    }

    &:focus,
    &:focus-visible {
        border: 1px solid var(--bg-primary-text);
        outline: 3px solid var(--bg-primary);
        box-shadow: 0px 0px 6px -2px var(--bg-primary-light);
    }
}

.AppendIcon,
.PrependIcon {
    width: 1rem;
    height: 1rem;
}

.MAROutlinedButton,
.MAROutlinedButtonStretch {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    font-family: var(--montserrat-family);
    padding: 0.5em 1em;
    border-radius: var(--border-radius-full);
    border: 1px solid var(--bg-primary);
    font-size: var(--font-size);
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--bg-neutral);
    color: var(--base-text-color);
    outlined: 1px solid var(--bg-neutral-text);
    transition: box-shadow 0.25s;

    &:active {
        background-color: var(--bg-primary-dark);
        color: var(--color-white);
    }

    &:focus,
    &:focus-visible {
        border: 1px solid var(--bg-primary-text);
        outline: 3px solid var(--bg-primary-light);
        box-shadow: 0px 0px 6px -2px var(--bg-primary-light);
    }
}

.MARSolidButtonStretch,
.MAROutlinedButtonStretch {
    width: 100%;
}

@media (hover: hover) {
    .MARSolidButton,
    .MARSolidButtonStretch {
        &:hover:not(:active) {
            background-color: var(--bg-primary-light);
            color: var(--bg-primary-text);
        }
    }

    .MAROutlinedButton,
    .MAROutlinedButtonStretch {
        &:hover:not(:active) {
            background-color: var(--bg-primary-light);
            color: var(--bg-primary-text);
            /* border: 1px solid var(--bg-primary-text); */
            /* box-shadow: 0 0 0 2px var(--bg-primary-light); */
        }
    }
}
