.Header {
    position: sticky;
    top: 0;
    font-family: "Poiret One", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1rem 0.25rem;
    width: 100%;
    background-color: var(--bg-neutral);
}

.HeaderTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderUser {
    font-family: var(--montserrat-family);
    display: flex;
    gap: 0.25rem;
    align-items: center;
    & > img {
        width: 2rem;
        height: 2rem;
        border-radius: var(--border-radius-full);
    }
}

@media (min-width: 768px) {
}
